<div class='view-ele' #ele appMoveSettingTemplateEle *ngIf="scale && data.type === typeTemplate.TEXT" [data]="data"
  [isSelect]="isSelect" [ngStyle]="{
    color: data.color,
    'font-size': data.fontSize * scale +'px',
    display: data.hidden ? 'none' : 'block',
    top: data.y  + '%',
    left: data.x  + '%',
    'text-align': data.align,
    'background-color': data.background,
    width: data.width ? data.width * scale  +'px' : 'auto',
    transform: 'rotate('+ data.rotate + 'deg'+')',
    'border-radius': data.borderRadius + 'px'
  }" (click)="active($event)">
  <div class='view-ele-rev' [ngStyle]="{
    padding: data.padding + 'px'
  }" (mousedown)="moveEle($event)">
    {{data.content}}
    <div class='view-ele-ab-no-select' *ngIf="!isSelect && edit"></div>
    <div class='view-ele-ab' *ngIf="isSelect">
      <!-- <div class="dotnet dotnet-top-left" (mousedown)="changeSize($event)"></div>
      <div class="dotnet dotnet-top-right" (mousedown)="changeSize($event)"></div>
      <div class="dotnet dotnet-bottom-right" (mousedown)="changeSize($event)"></div> -->
      <div class="rotate" (mousedown)="rotate($event)" *ngIf="edit">
        <i class="fa-solid fa-rotate-left"></i>
      </div>
      <div class="dotnet dotnet-bottom-left" *ngIf="edit" (mousedown)="changeSize($event)"></div>
    </div>
  </div>
</div>

<div class='view-ele' #ele appMoveSettingTemplateEle *ngIf="scale && data.type === typeTemplate.IMAGE" [data]="data"
  [isSelect]="isSelect" [ngStyle]="{
    display: data.hidden ? 'none' : 'block',
    top: data.y  + '%',
    left: data.x  + '%',
    width: data.width ? data.width * scale  +'px' : 'auto',
    height: data.height ? data.height * scale  +'px' : 'auto',
    transform: 'rotate('+ data.rotate + 'deg'+')',
    'border-radius': data.borderRadius + 'px'
  }" (click)="active($event)">
  <div class='view-ele-rev' (mousedown)="moveEle($event)">
    <img [src]="data.url" alt="" *ngIf="data.url !== ''">
    <div class='view-img-empty' *ngIf="data.url === ''">

    </div>
    <div class='view-ele-ab-no-select' *ngIf="!isSelect && edit"></div>
    <div class='view-ele-ab' *ngIf="isSelect">
      <!-- <div class="dotnet dotnet-top-left" (mousedown)="changeSize($event)"></div>
      <div class="dotnet dotnet-top-right" (mousedown)="changeSize($event)"></div>
      <div class="dotnet dotnet-bottom-right" (mousedown)="changeSize($event)"></div> -->
      <div class="rotate" (mousedown)="rotate($event)" *ngIf="edit">
        <i class="fa-solid fa-rotate-left"></i>
      </div>
      <div class="dotnet dotnet-bottom-left" *ngIf="edit" (mousedown)="changeSize($event)"></div>
    </div>
  </div>
</div>