<div class='info'>
    <div class='info-title'>
        {{activeTemplate.name}}
    </div>
    <div class='item'>
        <div class='item-title'>
            Nội dung
        </div>
        <div class='item-data'>
            <textarea name="" id="" cols="30" rows="3"></textarea>
        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Độ rộng
        </div>
        <div class='item-data'>
            <input type="number" min='0'>

        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Cỡ chữ
        </div>
        <div class='item-data'>
            <input type="number" min='0'>
        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Màu sắc
        </div>
        <div class='item-data'>
            <input type="color">
            <span class='item-data-input-color-title'>#000000D9</span>
        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Căn lề
        </div>
        <div class='item-data'>
            <input type="text">
        </div>
    </div>
    <div class='item action'>
        <button>lưu</button>
    </div>
</div>