<div class='info'>
    <div class='item'>
        <div class='item-title'>
            Color
        </div>
        <div class='item-data'>
            <input type="text">
        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Color
        </div>
        <div class='item-data'>
            <input type="text">
        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Color
        </div>
        <div class='item-data'>
            <input type="text">
        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Color
        </div>
        <div class='item-data'>
            <input type="text">
        </div>
    </div>
    <div class='item'>
        <div class='item-title'>
            Color
        </div>
        <div class='item-data'>
            <input type="text">
        </div>
    </div>
</div>