.create-template {
    width: 100vw;
    height: calc(100vh - 56px);
    display: flex;

    .template-list {
        width: 238px;
        height: calc(100vh - 56px);
        border-right: 2px solid #e5e5e5;
    }

    .template-view {
        width: calc(100vw - 480px);
        height: calc(100vh - 56px);
    }

    .template-info {
        width: 238px;
        height: calc(100vh - 56px);
        border-left: 2px solid #e5e5e5;

    }
}