<div class='list'>
    <div class='list-item list-item-fisrt'>
        <span>
            Background
        </span>
    </div>
    <div class='line'></div>
    <div>
        <div class='list-item'>
            <span>
                element 1
            </span>
            <i class="fa-regular fa-eye"></i>
        </div>
        <div class='list-item'>
            <span>
                element 2
            </span>
            <i class="fa-regular fa-eye"></i>

        </div>
        <div class='list-item'>
            <span>
                element 3
            </span>
            <i class="fa-regular fa-eye"></i>

        </div>
        <div class='list-item'>
            <span>
                element 4
            </span>
            <i class="fa-regular fa-eye"></i>

        </div>
        <div class='list-item'>
            <span>
                element 5
            </span>
            <i class="fa-regular fa-eye"></i>

        </div>
        <div class='list-item'>
            <span>
                element 6
            </span>
            <i class="fa-regular fa-eye"></i>

        </div>
    </div>
</div>