<!-- <div class='center'>
  <div class="div-content">
    <app-create-template></app-create-template>
  </div>
</div> -->

<!-- <div class='center'>
  <div class="div-content">
    <app-writing-ai-explain></app-writing-ai-explain>
  </div>
</div> -->

<div class='center'>
  <div class="div-content">
    <app-writing-ai *ngIf=' arrGrammar?.data' [dataGrammar]="arrGrammar" [context]="arrGrammar.userOptionText">
    </app-writing-ai>
  </div>
</div>

<!-- <app-standalone *ngFor="let a of data" [math]="a"></app-standalone> -->