<div class='element' [ngStyle]="{
        'top': dataElement.position.top+'px', 
        'left':dataElement.position.left+'px' , 
        'color': dataElement.color, 
        'font-size': dataElement.fontSize + 'px' ,
        'width': dataElement.width ? dataElement.width + 'px' : '',
        'text-align': dataElement.textAlignment
    }" (mousedown)='onMouseDown($event)' (mouseup)="onMouseUp()" (mouseleave)="onMouseLeave()" id='element' #drap>
    <div *ngIf="dataElement.type === 'text'">
        {{dataElement.content}}
    </div>
    <img src={{dataElement.image.data}} alt="" *ngIf="dataElement.type === 'image'">
</div>