.error-char-all {
    position: relative;

    .error-char {
        cursor: pointer;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #EA4343;
        text-underline-position: under;
        display: inline-block;
        white-space: pre;

    }

    .error-char-spelling {
        text-decoration-color: #0062AE;
    }

    .error-char:hover {
        opacity: .7;
    }

    .error-popup-active {
        // display: block !important;
        visibility: visible !important;
        left: auto !important;
        content-visibility: visible !important;

    }

    .error-char-right {
        right: 0px;
    }

    .error-popup {
        position: absolute;
        z-index: 1000;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        border-radius: 10px;
        left: -999em;
        min-width: 235px;
        visibility: hidden;
        content-visibility: hidden;
        // display: none;

        .error-popup-container {
            margin: 10px;


            .error-popup-header {
                line-height: 15px;
                display: flex;
                align-items: center;
                font-size: 12px;
                color: #A9A9A9;

                .donet {
                    width: 7px;
                    height: 7px;
                    background: #EA4343;
                    border-radius: 100%;
                    margin-right: 10px;
                }

                .donet-blue {
                    background: #0062AE;

                }
            }

            .error-popup-title {
                font-size: 15px;
                width: max-content;
                font-size: 18px;
                margin: 5px 0px;

                i {
                    margin: 0px 10px;
                    color: #7A7676;
                }

                .char-correct {
                    background: #1B9946;
                    border-radius: 2px;
                    color: white;
                    padding: 2px 5px;
                    text-align: center;
                }

            }

            .error-popup-sub-title {
                font-size: 15px;
                line-height: 16px;

                p {
                    margin: 10px 0px;
                }
            }

            .error-popup-footer {
                margin: 5px 0px;
                font-size: 13px;
                display: flex;
                flex-wrap: wrap;
            }

            .hashtag {
                margin: 5px;
                margin-left: 0px;
                background: #FFFFFF;
                border: 1px solid #0062AE;
                border-radius: 5px;
                padding: 5px 10px;
                line-height: 14px;
                color: #0062AE;
                cursor: pointer;
            }

            .hashtag:hover {
                background: #0062AE;
                color: white;
            }

            .hashtag-active {
                background: #0062AE;
                color: white;
            }

        }
    }
}

.char-error-grammar {
    color: #EA4343;
    text-decoration-line: line-through;
}

@media only screen and (max-width: 560px) {
    .error-popup {
        position: fixed !important;
        bottom: 0px !important;
        left: 0px !important;
        top: auto;
        min-width: 100vw !important;
        border-radius: 0px !important;
    }
}