<ng-container *ngIf="!char.isError || char.isDismiss">
    <span>{{char.text}}</span>
</ng-container>
<ng-container *ngIf="char.isError && !char.isDismiss">
    <span class='error-char-all' #charErrorDiv>
        <span class='error-char' [ngClass]="{'error-char-spelling': typeError === 'SPELLING'}" [innerHTML]="char.text"
            #charError></span>
        <div class='error-popup' [ngClass]="{'error-popup-active ':isOpenPopup, 'error-char-right' : isTouchMargin}"
            #charErrorMenu>
            <div class='error-popup-container' *ngIf=" typeError === 'GRAMMAR'">
                <div class='error-popup-header'>
                    <div class='donet'>
                    </div>
                    GRAMMAR
                </div>
                <div class='error-popup-title'>
                    <span [innerHTML]="dataError?.error_grammar"></span>
                    <ng-container *ngIf="dataError?.feedback_grammar_suggestion.length > 0">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span class='char-correct' [innerHTML]="dataError?.feedback_grammar_suggestion[0]">
                        </span>
                    </ng-container>
                </div>
                <div class='error-popup-sub-title'>
                    <p>
                        {{dataError?.feedback_grammar}}
                    </p>
                </div>
                <div class='error-popup-footer'>
                    <div class='hashtag' (click)='changeChar(dataError, 0)'>
                        Accept
                    </div>
                    <div class='hashtag' (click)='changeChar(dataError, 0,true)'>
                        Dismiss
                    </div>
                </div>
            </div>
            <div class='error-popup-container' *ngIf=" typeError === 'SPELLING'">
                <div class='error-popup-header'>
                    <div class='donet donet-blue'></div>
                    SPELLING
                </div>
                <div class='error-popup-title'>
                    <span class='char-error-grammar'>{{dataError?.error_grammar}}</span>
                </div>
                <div class='error-popup-sub-title'>
                    <p>
                        Do you mean :
                    </p>
                </div>
                <div class='error-popup-footer'>
                    <ng-container *ngFor="let tag of dataError?.feedback_grammar_suggestion; index as index">
                        <div class='hashtag' (click)='changeChar(dataError, index)'>
                            {{tag}}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </span>
</ng-container>